@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: url("./assets/backgrounds/1.png") center top no-repeat, url("./assets/backgrounds/2.png") bottom 150px center no-repeat;
    background-color: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osxo-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

address {
    font-style: normal;
    text-align: right;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
    position: relative;
}

.hero {
    min-height: 520px;
    margin-bottom: 250px;
}


.hero__header {
    height: 120px;
    display: inline-block;
    margin-bottom: 85px;
}

.header__logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
}

.header__menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 160px;
}

.header__contacts {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}


.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__workhots {
    font-size: 13px;
    text-decoration: underline;
}

.hero__content {
    width: 510px;
    position: absolute;
    left: 0px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero__text {
    font-size: 18px;
    margin-bottom: 55px;

}

.button__fill {
    background: #F5170E;
    border-radius: 35px;
    color: #fff;
    padding: 18px 40px;
    text-decoration: none;
}

.button__fill:hover {
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.tours {
    margin-bottom: 130px;
}

.tours__title {
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

.tours__item {
    min-height: 450px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 360px;
    display: inline-block;
    margin-right: 25px;
}

.tours__item:last-child {
    margin: 0;
}

.tour__img img {
    height: 145px;
    width: 360px;
}

.tour__content {
    padding: 25px;
    border-radius: 5px;
    background: #FFFFFF;
    min-height: 245px;
}

.tour__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.tour__conditions {
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
}

.condition__time-img, .condition__bonus-img {
    margin-right: 10px;
}


.condition__time-text {
    margin-right: 30px;
}


.tour__text {
    font-size: 14px;
    color: #303030;
    margin-bottom: 40px;
}

.button__fill-non {
    background: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #F5170E;
    border-radius: 35px;
    color: #F5170E;
    padding: 18px 40px;
    text-decoration: none;
}

.btn {
    padding: 18px 30px;
}

.button__fill-non:hover {
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.news {
    min-height: 600px;
    margin-bottom: 125px;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.news__item {
    display: inline-block;
    position: relative;
    width: 555px;
    height: 395px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0;
}

.new__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    top: 230px;
}

.new__time {
    font-size: 14px;
    margin-bottom: 15px;
}

.new__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.new__desc {
    line-height: 24px;
}

.paginator__list {
    display: inline-block;
    position: absolute;
}


.paginator__display {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    margin-left: 380px;
}

.paginator__item {
    display: inline-block;
    line-height: 30px;
}

.paginator__number {
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.paginator__item:hover {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}

.paginator__item-active {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}

.about {
    min-height: 555px;
    margin-bottom: 55px;
}

.about:before {
    content: "";
    display: inline-block;
    width: 490px;
    height: 505px;
    background: url("./assets/content/gates.png") center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    content: "";
    display: inline-block;
    position: absolute;
    width: 785px;
    height: 455px;
    background: url("./assets/content/mountains.png") center center / cover no-repeat;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: -135px;
}

.about__content-wrap {
    padding: 70px 80px;
    width: 625px;
    height: 315px;
}

.about__content-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
}

.about__content-text {
    width: 500px;
    min-height: 135px;
    color: #060606;
    line-height: 25px;
    margin-bottom: 60px;
}

.about__content-text p {
    margin-bottom: 20px;
}

.about__content-text p:last-child {
    margin-bottom: 0;
}

.footer-container__content {
    border-top: 1px solid #9A9A9A;
}

.footer {
    position: relative;
    height: 150px;
}

.footer__logo {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    margin-right: 80px;
}

.footer__menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 165px;
}

.socials__list {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 265px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    background: center center no-repeat;
}

.icon-telegram {
    background-image: url("./assets/icons/telegram.png");
}

.icon-telegram:hover {
    background-image: url("./assets/icons/telegram.hover.png");
}

.icon-vk {
    background-image: url("./assets/icons/vk.png");
}

.icon-vk:hover {
    background-image: url("./assets/icons/vk.hover.png");
}

.icon-fb {
    background-image: url("./assets/icons/f.png");
}

.icon-fb:hover {
    background-image: url("./assets/icons/f.hover.png");
}

.icon-insta {
    background-image: url("./assets/icons/in.png");
}

.icon-insta:hover {
    background-image: url("./assets/icons/in.hover.png");
}

.footer__contacts {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.contacts__call {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
