.footer {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    width: 100%;
    border-top: 1px solid #9A9A9A;
}

.footer__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin-right: 80px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-right: 75px;
}
