.hero {
    min-height: 530px;
    width: 100%;
    margin-bottom: 240px;
}


.hero__header {
    display: flex;
    justify-content: space-between;
    height: 125px;
    width: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 335px;
    width: 45%;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
}

.hero__text {
    font-size: 18px;
}
