.news {
    display: flex;
    flex-direction: column;
    height: 590px;
    width: 100%;
    margin-bottom: 125px;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    height: 395px;
    width: 100%;
    margin-bottom: 60px;
}

.news__item {
    display: flex;
    align-items: flex-end;
    width: 555px;
    height: 395px;
    border-radius: 5px;
}

.news__item:first-child {
    background: url("../../assets/content/plain.png") center center / cover no-repeat;
}

.news__item:last-child {
    background: url("../../assets/content/Surfer.png") center center / cover no-repeat;
}
