.socials__list {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.socials__item {
    display: flex;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    background: center center no-repeat;
}
